In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\harsh\Downloads\train.csv") #Training Dataset
DF=pd.read_csv(r"C:\Users\harsh\Downloads\test.csv") #Test Dataset

C:\Users\harsh\AppData\Local\Temp\ipykernel_16472\4054461446.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\harsh\Downloads\train.csv") #Training Dataset

Analysing Train Dataset

In [5]:
df

,name,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,H,neo,pha,diameter,albedo,rot_per,moid
0,Asteroid 680001,2.690380,0.153785,15.278304,137.353513,72.385330,2.276641,3.104120,4.412947,37.0,5.0,17.297,N,N,NaN,NaN,NaN,1.327590
1,Asteroid 661512,2.795391,0.212308,0.862358,2.162248,204.270241,2.201908,3.388875,4.673821,58.0,5.0,17.877,N,N,NaN,NaN,NaN,1.197960
2,Asteroid 674443,2.246465,0.153411,6.166486,267.926030,72.591975,1.901832,2.591098,3.367113,1036.0,6.0,18.545,N,N,NaN,NaN,NaN,0.902990
3,Asteroid 598285,2.178503,0.159044,6.605079,22.855426,252.771284,1.832025,2.524981,3.215477,2771.0,1.0,18.700,N,N,NaN,NaN,NaN,0.828794
4,Asteroid 761499,3.338566,0.126848,7.990340,103.235554,2.303605,2.915075,3.762058,6.100259,2.0,9.0,16.393,N,N,NaN,NaN,NaN,1.930500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740939,Asteroid 259178,2.632243,0.323732,29.373469,139.817847,280.693973,1.780100,3.484385,4.270681,5747.0,0.0,15.100,N,N,2.212,0.329,NaN,0.996905
740940,Asteroid 365838,2.319522,0.118122,5.539529,206.160216,247.178701,2.045536,2.593509,3.532694,5098.0,0.0,17.700,N,N,NaN,NaN,NaN,1.069560
740941,Asteroid 131932,2.360919,0.171291,9.778080,109.873275,5.609913,1.956516,2.765323,3.627688,7055.0,0.0,15.700,N,N,2.327,0.271,NaN,0.973468
740942,Asteroid 678175,2.596439,0.323050,5.301735,350.380543,60.659686,1.757660,3.435218,4.183843,6287.0,1.0,18.100,N,N,NaN,NaN,NaN,0.774939
740943,Asteroid 121958,2.335028,0.122715,1.152707,307.941207,297.604365,2.048485,2.621571,3.568176,7171.0,0.0,16.500,N,N,2.743,0.059,NaN,1.035170

In [6]:
df.isna().sum()

name                   0
a                      1
e                      0
i                      0
om                     0
w                      0
q                      0
ad                     5
per_y                  1
data_arc             374
condition_code        12
H                   2417
neo                    5
pha                    0
diameter          616969
albedo            618061
rot_per           723979
moid                   0
dtype: int64

In [7]:
df2=df.drop(["name","diameter",'albedo','rot_per'],axis="columns")

In [8]:
df2

,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,H,neo,pha,moid
0,2.690380,0.153785,15.278304,137.353513,72.385330,2.276641,3.104120,4.412947,37.0,5.0,17.297,N,N,1.327590
1,2.795391,0.212308,0.862358,2.162248,204.270241,2.201908,3.388875,4.673821,58.0,5.0,17.877,N,N,1.197960
2,2.246465,0.153411,6.166486,267.926030,72.591975,1.901832,2.591098,3.367113,1036.0,6.0,18.545,N,N,0.902990
3,2.178503,0.159044,6.605079,22.855426,252.771284,1.832025,2.524981,3.215477,2771.0,1.0,18.700,N,N,0.828794
4,3.338566,0.126848,7.990340,103.235554,2.303605,2.915075,3.762058,6.100259,2.0,9.0,16.393,N,N,1.930500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740939,2.632243,0.323732,29.373469,139.817847,280.693973,1.780100,3.484385,4.270681,5747.0,0.0,15.100,N,N,0.996905
740940,2.319522,0.118122,5.539529,206.160216,247.178701,2.045536,2.593509,3.532694,5098.0,0.0,17.700,N,N,1.069560
740941,2.360919,0.171291,9.778080,109.873275,5.609913,1.956516,2.765323,3.627688,7055.0,0.0,15.700,N,N,0.973468
740942,2.596439,0.323050,5.301735,350.380543,60.659686,1.757660,3.435218,4.183843,6287.0,1.0,18.100,N,N,0.774939
740943,2.335028,0.122715,1.152707,307.941207,297.604365,2.048485,2.621571,3.568176,7171.0,0.0,16.500,N,N,1.035170

In [9]:
# Checking Columns if theres any anamoly

In [10]:
df2.a.describe()

count    740943.000000
mean          2.741015
std         121.712726
min     -104279.220900
25%           2.384557
50%           2.643718
75%           2.995737
max        1775.174210
Name: a, dtype: float64

In [11]:
df2.loc[df2.a<=0,"a"] = df2[df2.a<=0].q/(1-df2[df2.a<=0].e)

In [12]:
df2[df2.a<0] # These are - coz these have hyperbolic orbits

,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,H,neo,pha,moid
17903,-7770.005273,1.000826,142.636401,276.230222,326.001880,6.417550,NaN,0.0,798.0,NaN,10.644,NaN,N,5.464480
66800,-1.272345,1.201134,122.741706,24.596910,241.810536,0.255912,NaN,NaN,80.0,NaN,22.080,NaN,N,0.095821
376225,-104278.723448,1.000056,138.380218,130.468071,287.870052,5.858483,NaN,0.0,201.0,NaN,13.434,NaN,N,5.116310
729072,-3562.472486,1.001016,113.525939,2.699366,181.618473,3.618257,NaN,0.0,18.0,NaN,10.420,NaN,N,2.621050

In [13]:
#These are hyperbolic orbit asteroids , We may keep them as it is to train the model (Even though negative 'a' is not defined)

df2.drop(df2[df2.a<0].index.values,inplace=True)

In [15]:
df2[df2.a.isna()]# We can inplace a very large number in a as its parabolic

,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,H,neo,pha,moid
98323,NaN,1.0,89.826795,300.387873,59.801951,8.828361,NaN,0.0,111.0,NaN,9.5996,NaN,N,8.2762

In [16]:
df2.loc[df2.e==1,"a"] = 1e10

In [17]:
df2[df2.a>1000]

,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,H,neo,pha,moid
98323,1.000000e+10,1.000000,89.826795,300.387873,59.801951,8.828361,NaN,0.00000,111.0,NaN,9.5996,NaN,N,8.27620
179102,1.775174e+03,0.998509,111.471367,155.634263,239.380177,2.646616,3547.701804,74794.50147,64.0,NaN,12.9760,N,N,1.98591
411474,1.010385e+03,0.935587,11.658049,300.824689,117.953441,65.081902,1955.689047,32117.28631,1100.0,4.0,5.5000,N,N,64.11030
495806,1.505441e+03,0.975865,20.655044,336.883214,134.161931,36.333315,2974.548305,58412.22234,1511.0,4.0,6.1000,N,N,35.38290
542630,1.498998e+03,0.997379,132.401398,42.917771,187.575644,3.928978,2994.066769,58037.63773,110.0,NaN,13.5320,N,N,2.92672
624941,1.603443e+03,0.990914,77.986376,341.477039,195.571836,14.569613,3192.315411,64207.87444,5375.0,1.0,7.1000,N,N,13.61080
681717,1.089226e+03,0.993959,36.011298,212.410283,319.202385,6.580173,2171.872685,35948.88775,113.0,NaN,9.8038,N,N,5.66640

In [18]:
df2.isna().sum()

a                    0
e                    0
i                    0
om                   0
w                    0
q                    0
ad                   5
per_y                1
data_arc           374
condition_code      12
H                 2417
neo                  5
pha                  0
moid                 0
dtype: int64

In [19]:
'''
I decided to remove the nan values in Neo,H,coditional_code and data_arc.
        Neo: can be estimated by albedo but most of the data in albedo is Nan
        H: can be calculated by albedo and diameter but mostly data is Nan
        coditional_code & data_arc: i think it cant be calculated using any data
'''
print()

In [20]:
df2.drop(98323,inplace=True) # irony is that we removed all the rows inwhich we have modified the "a" column #

In [21]:
df3=df2.dropna()
df3["neo"]=df3["neo"].replace({"N":0,"Y":1})
df3["pha"]=df3["pha"].replace({"N":0,"Y":1})
df3

C:\Users\harsh\AppData\Local\Temp\ipykernel_16472\3788128589.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3["neo"]=df3["neo"].replace({"N":0,"Y":1})
C:\Users\harsh\AppData\Local\Temp\ipykernel_16472\3788128589.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["neo"]=df3["neo"].replace({"N":0,"Y":1})
C:\Users\harsh\AppData\Local\Temp\ipykernel_16472\3788128589.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3["pha"]=df3["pha"].replace({"N":0,"Y":1})
C:\Users\harsh\AppData\Local\Temp\ipykernel_16472\3788128589.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["pha"]=df3["pha"].replace({"N":0,"Y":1})

,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,H,neo,pha,moid
0,2.690380,0.153785,15.278304,137.353513,72.385330,2.276641,3.104120,4.412947,37.0,5.0,17.297,0,0,1.327590
1,2.795391,0.212308,0.862358,2.162248,204.270241,2.201908,3.388875,4.673821,58.0,5.0,17.877,0,0,1.197960
2,2.246465,0.153411,6.166486,267.926030,72.591975,1.901832,2.591098,3.367113,1036.0,6.0,18.545,0,0,0.902990
3,2.178503,0.159044,6.605079,22.855426,252.771284,1.832025,2.524981,3.215477,2771.0,1.0,18.700,0,0,0.828794
4,3.338566,0.126848,7.990340,103.235554,2.303605,2.915075,3.762058,6.100259,2.0,9.0,16.393,0,0,1.930500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740939,2.632243,0.323732,29.373469,139.817847,280.693973,1.780100,3.484385,4.270681,5747.0,0.0,15.100,0,0,0.996905
740940,2.319522,0.118122,5.539529,206.160216,247.178701,2.045536,2.593509,3.532694,5098.0,0.0,17.700,0,0,1.069560
740941,2.360919,0.171291,9.778080,109.873275,5.609913,1.956516,2.765323,3.627688,7055.0,0.0,15.700,0,0,0.973468
740942,2.596439,0.323050,5.301735,350.380543,60.659686,1.757660,3.435218,4.183843,6287.0,1.0,18.100,0,0,0.774939
740943,2.335028,0.122715,1.152707,307.941207,297.604365,2.048485,2.621571,3.568176,7171.0,0.0,16.500,0,0,1.035170

Models testing

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB

LogisticRegression Score TEST

In [26]:
lr=cross_val_score(LogisticRegression(),df3.drop("pha",axis="columns"),df3.pha)
lr

C:\Users\harsh\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\harsh\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\harsh\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\harsh\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\harsh\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0.99739892, 0.99749375, 0.9975276 , 0.99754115, 0.99750728])

In [27]:
mean=sum(lr)/len(lr)
mean

0.9974937412549325

DecisionTress Score TEST

In [29]:
dt=cross_val_score(DecisionTreeClassifier(),df3.drop("pha",axis="columns"),df3.pha)
dt

array([0.9998984 , 0.99989162, 0.99987807, 0.99986453, 0.99993226])

In [30]:
mean=sum(dt)/len(dt)
mean

0.9998929759669213

SVC Score TEST

In [32]:
svc=cross_val_score(SVC(),df3.drop("pha",axis="columns"),df3.pha)
svc

array([0.99754117, 0.99754117, 0.99754792, 0.99754792, 0.99754115])

In [33]:
mean=sum(svc)/len(svc)
mean

0.9975438663112733

Bagging on DecisionTree Score TEST

In [35]:
bag=cross_val_score(BaggingClassifier(estimator=(DecisionTreeClassifier()),n_estimators=20,max_samples=0.85),df3.drop("pha",axis="columns"),df3.pha)
bag

array([0.99989162, 0.99993904, 0.99987807, 0.99990517, 0.99995936])

In [37]:
mean=sum(bag)/len(bag)
mean

0.9999146517230117

RandomForest Score TEST est=100

In [54]:
rf = cross_val_score(RandomForestClassifier(),df3.drop("pha",axis="columns"),df3.pha)
rf

array([0.9998984 , 0.99993226, 0.99989162, 0.99991872, 0.99993904])

In [56]:
mean=sum(rf)/len(rf)
mean

0.9999160064612085

RandomForest Score TEST est=10

In [58]:
rf1=cross_val_score(RandomForestClassifier(n_estimators=10),df3.drop("pha",axis="columns"),df3.pha)
rf1

array([0.99987807, 0.99991872, 0.99990517, 0.9998713 , 0.99993904])

In [59]:
mean=sum(rf1)/len(rf1)
mean

0.9999024591251228

RandomForest Score TEST est=50

In [61]:
rf2=cross_val_score(RandomForestClassifier(n_estimators=50),df3.drop("pha",axis="columns"),df3.pha)
rf2

array([0.9998984 , 0.99993226, 0.99989162, 0.99991194, 0.99994581])

In [62]:
mean=sum(rf2)/len(rf2)
mean

0.9999160064612086

Gaussian NB Score TEST

In [64]:
gnb=cross_val_score(GaussianNB(),df3.drop("pha",axis="columns"),df3.pha)
gnb

array([0.97629902, 0.97621773, 0.97650884, 0.97642078, 0.97738265])

In [65]:
mean=sum(gnb)/len(gnb)
mean

0.9765658029983773

In [180]:
'''This was supposed to be executed but because of my nvidia gpu detection error i dont have enough computational power '''

"""
model_params={
    "lr":{
        "model":LogisticRegression(),
        "params":{
            "C":[0.5,0.8,1,1.5]}},
    "dtc":{
        "model":DecisionTreeClassifier(),
        "params":{
            "criterion":["gini","entropy","log_loss"]}},
    "svm":{
        "model":SVC(),
        "params":{
            "C":[0.5,0.8,1,1.5],
            "kernel":["rbf","linear","poly"]}},
    "rfc":{
        "model":RandomForestClassifier(),
        "params":{
            "criterion":["entropy","gini"],
            "n_estimators":[55,75,100,115]}},
    'gnb':{
        'model':GaussianNB(),
        'params':{}}}
scores = {}
for modelname,details in model_params.items():
    clf = GridSearchCV(details["model"],details["params"],cv=5)
    clf.fit(df3.drop("pha",axis="columns"),df3.pha)
    scores[modelname] = [clf.best_score_,clf.best_params_]
    
scores 
"""
print()

Model Training

In [172]:
X_train,X_test,y_train,y_test=train_test_split(df3.drop("pha",axis="columns"),df3.pha,random_state=1)

In [250]:
print(X_train.shape)
print(553614/738152)
print(X_test.shape)
print(184538/738152)

(553614, 13)
0.75
(184538, 13)
0.25

In [174]:
model=RandomForestClassifier()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9999241348665315

In [175]:
model2=BaggingClassifier(estimator=(DecisionTreeClassifier()),n_estimators=100,max_samples=0.85)
model2.fit(X_train,y_train)
model2.score(X_test,y_test)

0.9999349727427413

In [176]:
model3=BaggingClassifier(estimator=(DecisionTreeClassifier()),n_estimators=150,max_samples=0.85)
model3.fit(X_train,y_train)
model3.score(X_test,y_test)

0.9999295538046364

In [74]:
model4=BaggingClassifier(estimator=(DecisionTreeClassifier()),n_estimators=50,max_samples=0.85)
model4.fit(X_train,y_train)
model4.score(X_test,y_test)

0.9999295538046364

In [75]:
model4=BaggingClassifier(estimator=(DecisionTreeClassifier()),n_estimators=10,max_samples=0.85)
model4.fit(X_train,y_train)
model4.score(X_test,y_test)

0.9999078780522169

In [76]:
model4=BaggingClassifier(estimator=(DecisionTreeClassifier()),n_estimators=75,max_samples=0.85)
model4.fit(X_train,y_train)
model4.score(X_test,y_test)

0.9999241348665315

In [77]:
model4=BaggingClassifier(estimator=(DecisionTreeClassifier()),n_estimators=125,max_samples=0.85)
model4.fit(X_train,y_train)
model4.score(X_test,y_test)

0.9999295538046364

In [242]:
# THE BEST MODEL SCORE IS WITH BaggingOnDecisionTree with 99.9935% in model2

Now Checking the TEST DATASET

In [80]:
DF

,name,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,H,neo,diameter,albedo,rot_per,moid
0,Asteroid 363864,2.676011,0.359855,12.206682,235.192573,125.181864,1.713035,3.638986,4.377639,5384.0,0.0,15.9,N,NaN,NaN,NaN,0.743745
1,Asteroid 306812,2.298822,0.141940,6.620591,348.452277,1.690117,1.972526,2.625118,3.485509,5695.0,0.0,17.1,N,NaN,NaN,NaN,0.965473
2,Asteroid 436087,2.428624,0.080591,6.135246,349.291379,119.522708,2.232898,2.624350,3.784850,5024.0,0.0,17.8,N,NaN,NaN,NaN,1.257100
3,Asteroid 341907,2.310890,0.178665,5.378807,109.545249,161.080608,1.898014,2.723766,3.512991,4618.0,0.0,17.3,N,NaN,NaN,NaN,0.882244
4,Asteroid 536770,2.412192,0.019620,8.068281,233.547566,308.687921,2.364865,2.459520,3.746502,2012.0,0.0,18.3,N,NaN,NaN,NaN,1.367720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82323,Asteroid 832415,0.882551,0.302787,7.204506,219.109541,313.315030,0.615326,1.149776,0.829121,20.0,6.0,24.1,Y,NaN,NaN,NaN,0.008108
82324,Asteroid 816247,2.210520,0.525633,19.284134,25.484162,148.174492,1.048597,3.372443,3.286623,9.0,8.0,23.8,Y,NaN,NaN,NaN,0.091472
82325,Asteroid 639683,2.323886,0.188192,5.350964,281.298880,121.349767,1.886550,2.761223,3.542669,3607.0,1.0,18.2,N,NaN,NaN,NaN,0.901599
82326,Asteroid 365569,2.742737,0.039087,7.453771,192.097582,76.969350,2.635531,2.849943,4.542390,7046.0,0.0,17.2,N,NaN,NaN,NaN,1.632210
82327,Asteroid 31219,2.685351,0.198573,13.213330,351.128493,214.942505,2.152112,3.218591,4.400580,8776.0,0.0,14.3,N,NaN,NaN,NaN,1.163750

In [81]:
DF.isna().sum()

name                  0
a                     1
e                     0
i                     0
om                    0
w                     0
q                     0
ad                    1
per_y                 0
data_arc             36
condition_code        1
H                   271
neo                   1
diameter          68667
albedo            68802
rot_per           80497
moid                  0
dtype: int64

In [82]:
#Filling a By calculating the a value q/(1-e)

In [83]:
DF[DF["a"].isna()].index.values

array([63771], dtype=int64)

In [84]:
DF.loc[DF[DF["a"].isna()].index.values,"a"] = DF[DF["a"].isna()].q/(1-DF[DF["a"].isna()].e)

In [85]:
#Filling ad By calculating a(1+e)

In [86]:
DF.loc[DF[DF.ad.isna()].index.values,"ad"] = DF[DF.ad.isna()].a *(DF[DF.ad.isna()].e + 1)

In [87]:
# Filling data_arc By mean

In [88]:
data_arc_nan_index = DF[DF.data_arc.isna()].index.values

In [89]:
DF.groupby("data_arc").count()

,name,a,e,i,om,w,q,ad,per_y,condition_code,H,neo,diameter,albedo,rot_per,moid
data_arc,,,,,,,,,,,,,,,,
1.0,795,795,795,795,795,795,795,795,795,795,649,795,432,403,0,795
2.0,948,948,948,948,948,948,948,948,948,948,858,948,178,165,0,948
3.0,598,598,598,598,598,598,598,598,598,598,597,598,3,2,1,598
4.0,416,416,416,416,416,416,416,416,416,416,408,416,12,12,0,416
5.0,424,424,424,424,424,424,424,424,424,424,415,424,8,8,1,424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56904.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
56954.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
60970.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
61247.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
62655.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [90]:
DF["data_arc"].fillna(DF.data_arc.mean(),inplace=True)

C:\Users\harsh\AppData\Local\Temp\ipykernel_16472\2811880156.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  DF["data_arc"].fillna(DF.data_arc.mean(),inplace=True)

How Removal of DataArc effects the model

In [92]:
df4 = df3.drop(["data_arc"],axis="columns")
X_train,X_test,y_train,y_test=train_test_split(df4.drop("pha",axis="columns"),df4.pha)
model1=BaggingClassifier(estimator=(DecisionTreeClassifier()),n_estimators=100,max_samples=0.85)
model1.fit(X_train,y_train)
model1.score(X_test,y_test)

0.9999078780522169

In [240]:
#The score reduced is very small so it may be removed but so as to reduce the number of errors in the prediction its not removed

In [94]:
#Filling H By median

In [95]:
H_nan_index=DF[DF.H.isna()].index.values
H_nan_index

array([  605,  1681,  2452,  3519,  3547,  4103,  4148,  4217,  4725,
        4734,  5265,  5476,  5794,  5920,  6499,  6992,  7319,  7397,
        8200,  8315,  8322,  8609,  8946,  9449,  9459,  9471,  9587,
       10387, 10444, 10987, 11854, 12292, 12513, 12534, 13108, 13314,
       13418, 13442, 13545, 13656, 14689, 14799, 14845, 15122, 15492,
       16223, 16226, 16345, 16455, 16612, 16738, 16909, 16975, 17027,
       17140, 17162, 17290, 17481, 18365, 18410, 18504, 18666, 19180,
       19367, 19912, 20144, 20224, 20475, 20608, 20885, 21061, 21453,
       21585, 21748, 21891, 22246, 22450, 22878, 23071, 23636, 23777,
       23852, 25021, 25639, 25693, 26217, 26626, 26943, 27366, 27405,
       28096, 28480, 28820, 28879, 28964, 29458, 29514, 29935, 30007,
       30896, 31101, 31276, 31392, 31407, 31689, 31720, 32546, 33162,
       34789, 34893, 35024, 35213, 35633, 36523, 36696, 37127, 37400,
       37484, 37740, 37780, 39027, 39212, 39292, 39435, 39436, 39643,
       39740, 39922, 39986, 40672, 41148, 41402, 42653, 42714, 42925,
       43088, 43136, 43439, 43515, 43707, 43814, 43894, 44065, 44324,
       44593, 45448, 45573, 45823, 46515, 46924, 47056, 47167, 47460,
       47506, 47655, 47676, 47797, 48214, 50258, 50442, 50473, 50599,
       50651, 51152, 51513, 51552, 51825, 52112, 52549, 52696, 52853,
       52914, 52947, 52989, 53496, 53552, 53886, 54560, 54645, 54749,
       54968, 55636, 55821, 56597, 57226, 57231, 57286, 57376, 57467,
       57605, 57643, 57758, 58320, 58457, 58506, 59432, 59679, 59904,
       60020, 60115, 60601, 60835, 60852, 61093, 61917, 62203, 62557,
       62598, 62846, 63028, 63115, 63411, 63503, 63579, 63646, 64492,
       64644, 64669, 64785, 65432, 66363, 66538, 66622, 66842, 67088,
       67132, 67174, 67194, 67275, 68209, 68991, 69108, 69209, 69390,
       69444, 70170, 70379, 70965, 72038, 72889, 73529, 73611, 73721,
       74096, 74451, 74472, 74547, 74833, 74991, 75057, 75468, 75684,
       76082, 76181, 76365, 76383, 76425, 76562, 77049, 77104, 77962,
       78234, 78587, 78732, 78935, 79654, 80014, 80017, 80321, 81732,
       81977], dtype=int64)

In [96]:
DF[DF.H.isna() & DF.albedo.isna()].shape

(242, 17)

In [97]:
DF[DF.H.isna() & DF.diameter.isna()].shape

(199, 17)

In [98]:
DF.H.fillna(DF.H.median(),inplace=True)

C:\Users\harsh\AppData\Local\Temp\ipykernel_16472\3794114540.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  DF.H.fillna(DF.H.median(),inplace=True)

In [99]:
DF.isna().sum()

name                  0
a                     0
e                     0
i                     0
om                    0
w                     0
q                     0
ad                    0
per_y                 0
data_arc              0
condition_code        1
H                     0
neo                   1
diameter          68667
albedo            68802
rot_per           80497
moid                  0
dtype: int64

In [100]:
#Leaving the Conditonal Code as it is as our model can handle nan values

In [101]:
DF[DF.condition_code.isna()]

,name,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,H,neo,diameter,albedo,rot_per,moid
63771,Asteroid 838493,inf,1.0,155.720291,42.337498,55.893065,4.99753,inf,0.0,67.0,NaN,12.76,NaN,NaN,NaN,NaN,4.06386

In [102]:
# As there are "infinity" values in the dataset ,we converted into significantly large value like 1e10

In [103]:
DF.replace([float("inf"),-float("inf")],1e10,inplace=True)

In [104]:
DF1=DF.drop(["name","rot_per","diameter",'albedo'],axis="columns")
DF1.replace({"N":0,"Y":1},inplace=True)

C:\Users\harsh\AppData\Local\Temp\ipykernel_16472\2043278392.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  DF1.replace({"N":0,"Y":1},inplace=True)

Finalizing Score and exporting it to the Result csv

In [108]:
predict = model2.predict(DF1)
predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [109]:
result_df = pd.DataFrame(
    {"name":DF.name,
     "pha_prediction":predict})

In [110]:
result_df

                  name  pha_prediction
0      Asteroid 363864               0
1      Asteroid 306812               0
2      Asteroid 436087               0
3      Asteroid 341907               0
4      Asteroid 536770               0
...                ...             ...
82323  Asteroid 832415               0
82324  Asteroid 816247               0
82325  Asteroid 639683               0
82326  Asteroid 365569               0
82327   Asteroid 31219               0

[82328 rows x 2 columns]

In [111]:
result_df.to_csv("RESULT_FINAL2.csv")

Interesting Asteroids with e as '1' and '0'